h1/*makes all of the h1 red*/{
	color: red; 
	text-decoration:underline gold;
}
#second/*makes only one specific id blue*/{
	color: blue;
	text-decoration:underline red;
}
.styled/*anything identified with this class can change with these properties*/{
	color: gold;
	text-decoration:underline blue;
}
p{
}
p a /*adding a comma between the p and a tags styles each selector individually*/{
	/*can use actual word of color or hex number color*/
}
#italics{
	font-style: italic;
}
div{
/*
	height:70px;
	width:70px;
*/
	border:1px solid black;
	text-align:center;
	padding:10px;
	margin-left:40px;
	border-top: 2px solid red;
}
/*
selector{
	property:value;
}
*/